</html>
<html>

<head>
    <title></title>
    <style>
        body {
            text-align: center;
            margin: 0;
            font-family: 'Open Sans', sans-serif
        }

        p {
            margin: 0
        }
    </style>
    <meta charset="utf-8"/>
</head>

<body>
    <div style="height:336px;  display:flex;justify-content:center;align-items:center; background: #0A4ABF
;position:relative">
        <p style="font-weight: bold;
font-size: 36px;
line-height: 49px;color:#fff">PlayPRO <br> Reset your password<br />
        </p>
        <p style="font-weight: bold;
font-size: 18px;
line-height: 25px;color: #979797;letter-spacing: -1.32766px; position:absolute;right:48px;bottom:20px">PlayPRO ·
            CURRENT SEASON</p>
    </div>
    <main style="padding:0 20px; ">
        <p style="font-weight:600; font-size:24px; line-height:32px; padding-top:61px">Hello {{ user.first_name }}, you have
            requested a password reset </p>
        <p style="font-weight: 600; padding-top:20px;
font-size: 20px;
line-height: 27px;color: #266AA8; padding-bottom:16px">In order to reset your password, <br> click the link below</p>
        <p style="overflow-wrap: break-word;">
            <a href="https://playpro.gg/pasword-reset/{{ uid }}/{{ token }}" style="font-weight: 600; text-decoration:none; font-size: 20px; line-height: 27px; color: #2186FE;  overflow-wrap: break-word">https://playpro.gg/pasword-reset/{{ uid }}/{{ token }}</a>
        </p>
        <p style="padding-top:20px; font-weight:700; color:red">If you are not the one making this request, please
            disregard this email</p>
        <p style="font-weight: bold;
font-size: 18px;
line-height: 25px;color: #266AA8; padding-top:129px">WHAT is PlayPRO</p>
        <p style="font-size: 18px;
line-height: 25px;">PlayPRO is a platform that powers youth, high school esports leagues.</p>
        <p style="font-size: 18px;
line-height: 25px;padding-bottom:76px">We handle matchmaking, scheduling, stats — everything — so players can play.</p>
        <ul style="list-style:none; margin:0; padding:0; display:flex;flex-wrap:wrap; justify-content:space-between; font-size: 16px;
line-height: 18px;color: #266AA8;padding: 0 20px 24px 20px">
            <li>Copyright © PlayPRO. All Rights Reserved</li>
            <li>PlayPRO</li>
            <li>About Us</li>
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
        </ul>
    </main>
</body>

</html>